@charset "utf-8";

/* Reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,caption,form,fieldset,legend,input{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
li{list-style-type:none;}
img,fieldset{border:0;vertical-align:middle;}
caption,legend,.blind{font-size:0;line-height:0;width:0;height:0;visibility:hidden;position:absolute;left:-9999px;}
li img,li a,label,select,input{vertical-align:middle;}
a{color:inherit;text-decoration:none;line-height:1;}
address,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
button{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;}
img,video,audio,object,embed,iframe{max-width:100%;}
body{font-family:"Nanum Barun Gothic","Malgun Gothic","sans-serif";font-size:12px;color:#222;letter-spacing:-.005em;background:#efefef;}

/* 입력폼 */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
select,
textarea{display:inline-block;vertical-align:middle;resize:none;width:calc(100% - 10px);padding:7px 5px;line-height:1.4em;border:none;border-bottom:1px solid #e4e4e4;border-radius:0;letter-spacing:-1px;font-family:"Nanum Barun Gothic","Malgun Gothic","sans-serif";font-size:12px;color:#222;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}
select{position:relative;width:calc(100% + 2px);padding:7px 10px;background:url(../img/bg_select.png) no-repeat;background-size:10px 5px;background-position:right 10px top 50%;background-color:#fff;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}
textarea{height:10em;overflow-y:scroll;}
textarea.scOff{min-height:20em;overflow-y:visible;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus{
    outline:none;
    border-width:1px;
    border-image-source:linear-gradient(to right, #d8a37a, #9e5218);
    border-image-slice:5;
}

input[type="text"].bd,
input[type="password"].bd,
input[type="tel"].bd,
select.bd,
textarea.bd{border:1px solid #e4e4e4;}

input[type="text"].noBd,
input[type="password"].noBd,
input[type="tel"].noBd,
select.noBd,
textarea.noBd{border:none;}

input[type="text"].ud,
input[type="password"].ud,
input[type="tel"].ud,
select.ud,
textarea.ud{border-top:none;border-left:none;border-right:none;border-bottom-width:2px;border-radius:0;}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
select::placeholder,
textarea::placeholder{color:#c0c0c0;opacity:1;}

/* 버튼 */
a[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="image"],
button{
    font:inherit;
    border:none;
    cursor:pointer;
    color:inherit;
    display:inline-block;
    overflow:visible;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    white-space:pre;
    -webkit-box-sizing:content-box;
       -moz-box-sizing:content-box;
            box-sizing:content-box;
    -webkit-appearance:none;
}

input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}

/* 체크박스 */
.checkbox{}
.checkbox input[type="checkbox"]{display:none;}
.checkbox input[type="checkbox"]+label{position:relative;display:inline-block;line-height:17px;padding-left:27px;font-weight:bold;color:#c0c0c0;}
.checkbox input[type="checkbox"]+label:before{content:"";position:absolute;left:0;top:0;display:block;width:17px;height:17px;vertical-align:middle;margin-right:5px;background:url(../img/bg_checkbox.png) 0 0 no-repeat;background-size:17px auto;}
.checkbox input[type="checkbox"]:checked+label:before{background-position:0 -17px;}

/* 라디오 */
.radio{}
.radio input[type="radio"]{display:none;}
.radio input[type="radio"]+label{position:relative;display:inline-block;line-height:17px;padding-left:27px;font-weight:bold;color:#c0c0c0;}
.radio input[type="radio"]+label:before{content:"";position:absolute;left:0;top:0;display:block;width:17px;height:17px;vertical-align:middle;margin-right:5px;background:url(../img/bg_checkbox.png) 0 0 no-repeat;background-size:17px auto;}
.radio input[type="radio"]:checked+label:before{background-position:0 -17px;}
.radio.blue input[type="radio"]+label:before{background-image:url(../img/bg_checkbox_blue.png)}

/* float */
.floatL{float:left;}
.floatR{float:right;}
.floatC:after{content:"";display:block;clear:both;}

/* align */
.alignL{text-align:left !Important;}
.alignR{text-align:right !Important;}
.alignC{text-align:center !Important;}
.alignT{vertical-align:top !Important;}
.alignM{vertical-align:middle !Important;}
.alignB{vertical-align:bottom !Important;}

/* margin */
.marT0 {margin-top:0px !Important;}
.marT5 {margin-top:5px !Important;}
.marT10{margin-top:10px !Important;}
.marT20{margin-top:20px !Important;}
.marT30{margin-top:30px !Important;}
.marT40{margin-top:40px !Important;}
.marT50{margin-top:50px !Important;}
.marT60{margin-top:60px !Important;}
.marT70{margin-top:70px !Important;}
.marT80{margin-top:80px !Important;}
.marT90{margin-top:90px !Important;}
.marT100{margin-top:100px !Important;}

.marB0 {margin-bottom:0px !Important;}
.marB5 {margin-bottom:5px !Important;}
.marB10{margin-bottom:10px !Important;}
.marB20{margin-bottom:20px !Important;}
.marB30{margin-bottom:30px !Important;}
.marB40{margin-bottom:40px !Important;}
.marB50{margin-bottom:50px !Important;}
.marB60{margin-bottom:60px !Important;}
.marB70{margin-bottom:70px !Important;}
.marB80{margin-bottom:80px !Important;}
.marB90{margin-bottom:90px !Important;}
.marB100{margin-bottom:100px !Important;}

.marL0 {margin-left:0px !Important;}
.marL5 {margin-left:5px !Important;}
.marL10{margin-left:10px !Important;}
.marL20{margin-left:20px !Important;}
.marL30{margin-left:30px !Important;}
.marL40{margin-left:40px !Important;}
.marL50{margin-left:50px !Important;}
.marL60{margin-left:60px !Important;}
.marL70{margin-left:70px !Important;}
.marL80{margin-left:80px !Important;}
.marL90{margin-left:90px !Important;}
.marL100{margin-left:100px !Important;}

.marR0 {margin-right:0px !Important;}
.marR5 {margin-right:5px !Important;}
.marR10{margin-right:10px !Important;}
.marR20{margin-right:20px !Important;}
.marR30{margin-right:30px !Important;}
.marR40{margin-right:40px !Important;}
.marR50{margin-right:50px !Important;}
.marR60{margin-right:60px !Important;}
.marR70{margin-right:70px !Important;}
.marR80{margin-right:80px !Important;}
.marR90{margin-right:90px !Important;}
.marR100{margin-right:100px !Important;}

/* padding */
.padT0 {padding-top:0px !Important;}
.padT5 {padding-top:5px !Important;}
.padT10{padding-top:10px !Important;}
.padT20{padding-top:20px !Important;}
.padT30{padding-top:30px !Important;}
.padT40{padding-top:40px !Important;}
.padT50{padding-top:50px !Important;}
.padT60{padding-top:60px !Important;}
.padT70{padding-top:70px !Important;}
.padT80{padding-top:80px !Important;}
.padT90{padding-top:90px !Important;}
.padT100{padding-top:100px !Important;}

.padB0 {padding-bottom:0px !Important;}
.padB5 {padding-bottom:5px !Important;}
.padB10{padding-bottom:10px !Important;}
.padB20{padding-bottom:20px !Important;}
.padB30{padding-bottom:30px !Important;}
.padB40{padding-bottom:40px !Important;}
.padB50{padding-bottom:50px !Important;}
.padB60{padding-bottom:60px !Important;}
.padB70{padding-bottom:70px !Important;}
.padB80{padding-bottom:80px !Important;}
.padB90{padding-bottom:90px !Important;}
.padB100{padding-bottom:100px !Important;}

.padL0 {padding-left:0px !Important;}
.padL5 {padding-left:5px !Important;}
.padL10{padding-left:10px !Important;}
.padL20{padding-left:20px !Important;}
.padL30{padding-left:30px !Important;}
.padL40{padding-left:40px !Important;}
.padL50{padding-left:50px !Important;}
.padL60{padding-left:60px !Important;}
.padL70{padding-left:70px !Important;}
.padL80{padding-left:80px !Important;}
.padL90{padding-left:90px !Important;}
.padL100{padding-left:100px !Important;}

.padR0 {padding-right:0px !Important;}
.padR5 {padding-right:5px !Important;}
.padR10{padding-right:10px !Important;}
.padR20{padding-right:20px !Important;}
.padR30{padding-right:30px !Important;}
.padR40{padding-right:40px !Important;}
.padR50{padding-right:50px !Important;}
.padR60{padding-right:60px !Important;}
.padR70{padding-right:70px !Important;}
.padR80{padding-right:80px !Important;}
.padR90{padding-right:90px !Important;}
.padR100{padding-right:100px !Important;}
